body {
    margin: 0px;
    font-family: sans-serif;
}

.container {
    margin: 0px 5rem;
}

.svg-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.map-area-container {
    width: min-content;
}

.option-selection {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.pie-chart-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* Data source */
.source {
    margin-top: 10px;
    margin-left: 40px;
    font-size: 0.75em;
    font-family: sans-serif;
    color: #888;
}

.source a {
    color: #888;
}


/* MAP */

.sphere {
    fill: #C2DFFF;
}

.state,
.county {
    fill: #C1E1C1;
    stroke: white;
    stroke-width: 1px;
}

.county {
    stroke-width: 0.1px;
}

.municipality {
    stroke: lightgrey;
    stroke-width: 0.01px;
}

.municipality:hover {
    stroke: black;
    stroke-width: 0.02px;
}

.call {
    stroke: grey;
    stroke-width: 0.01px;
}

.call:hover {
    stroke: black;
    stroke-width: 0.05px;
}

.radio-selection, .colour-selection {
    font-family: sans-serif;
    font-size: 1em;
    dominant-baseline: central;
}

.option-selection input, .option-selection label {
    cursor: pointer;
}

/* LEGEND */

.legend-bg {
    fill: white;
    opacity: 0.7;
}

.legend text {
    font-family: sans-serif;
    font-size: 1em;
    fill: #635F5D;
    text-anchor: start;
    dominant-baseline: central;
}

.legend circle {
    stroke: #333;
    stroke-opacity: 0.5;
}

.legend {
    cursor: pointer;
}

.range-label {
    font-family: sans-serif;
    font-size: 1em;
    fill: #635F5D;
    dominant-baseline: central;
}

/* PI */

.arc {
    cursor: pointer;
}

.arc:hover {
    stroke: black;
    stroke-width: 2px;
}

.other-arc {
    cursor: default;
}

.pie-label {
    font-family: sans-serif;
    font-size: 1em;
    fill: #635F5D;
    dominant-baseline: central;
    cursor: pointer;
}

#pie-selector {
    font-family: sans-serif;
    font-size: 1em;
    padding: 0.5rem 0;
}

#pie-selector select {
    font-size: 1em;
}

#pie-selector select option {
    font-size: 1em;
}

.pie-label-line {
	opacity: .3;
	stroke: black;
	stroke-width: 2px;
	fill: none;
}

.pie-text-labels {
    font-family: sans-serif;
    font-size: 0.55em;
}


#tooltip {
    position: absolute;
    display: none;
    background: #fff;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 0px rgb(92 92 92 / 0.5);
    border: 1px solid #ddd;
    font-size: 12px;
    font-weight: 500;
    padding: 8px;
    color: #333;
}

.tooltip-title {
    color: #000;
    font-size: 14px;
    font-weight: 600;
}

/* pie chart other tooltip */

.tooltip-table {
    font-size: 11px;
}

/* Area chart tooltips */

.tooltip-circles {
    fill: none;
    stroke: black;
    stroke-width: 1px;
}